<section id="about">
  <div class="container-fluid sin-padd margen-inf-5">

    <%= render partial: 'static_pages/carga_imagenes' %>

    <!-- *************  MOSTRAR LOS ITEMS  ************* -->
    <%= render partial: 'static_pages/carga_items', locals: {post: @post} %>
  
  <br/><br/><br/><br/></div>
</section>
