    <div class="blog-div-categorias col-xs-12">
      <h3>Filtrar por Categorías:</h3>
      <h4>
        <% if @categories != nil %>
          <% @categories.each do |categ| %>
            <%= link_to categ.cat_titulo, blog_path(categ: categ.cat_titulo), class: "btn btn-warning blog-bot-categoria" %>
          <% end %>
        <% end %>
        <br/><br/>
      </h4>
    </div>

