          <div class="blog-div-cta col-xs-12 centered">
            <h2>Obtenga su sitio Web en 3 días<br/>Pruébelo en forma <u>Gratuita</u> por 15 días!!</h2><br/>
            <div class="centered">
	            <%= link_to '¡Averigüe Como!', new_contact_path(:motivo => "cta - Blog"), remote: true, class: "btn btn-danger blog-bot-cta" %><br/><br/>
            </div>
          </div>
