<% if fpg_general %>
	<% if @page %> <!-- Esto se utiliza solo al ppio cuando no hay ninguna pagina -->
		<% @tag_title = @page.pag_menu + " | " + fpg_general.pag_titulo %>
	<% else %>
		<% @tag_title = "Inicio | " + fpg_general.pag_titulo %>
	<% end %>	
	<% @tag_descr = fpg_general.pag_estilo_headerh %>
	<% @tag_keys = fpg_general.pag_estilo_headerv %>
	<% @tag_sitio = fpg_general.pag_menu %>
<% end %>

<div class="container-fluid div-ppal">

	<!-- *************  MOSTRAR LAS IMÃGENES  ************* -->
	<%= render partial: 'static_pages/carga_header' %>

	<!-- *************  MOSTRAR LOS ITEMS  ************* -->
	<%= render partial: 'static_pages/carga_items', locals: {post: @post} %>

</div>



