<% provide(:title, "Precios |") %>

<div class="container-fluid div-paginas">

	<!-- *************  MOSTRAR LAS IMÃGENES  ************* -->
	<%= render partial: 'static_pages/carga_imagenes' %>

	<!-- *************  MOSTRAR LOS ITEMS  ************* -->
	<%= render partial: 'static_pages/carga_items', locals: {post: @post} %>

</div>
