<% if fpg_general %>
	<% @tag_title = @page.pag_menu + " | " + fpg_general.pag_titulo %>
	<% @tag_descr = fpg_general.pag_estilo_headerh %>
	<% @tag_keys = fpg_general.pag_estilo_headerv %>
	<% @tag_sitio = fpg_general.pag_menu %>
<% end %>

<script type="text/javascript">
    loadScript();
</script>

<div class="container-fluid div-paginas">

	<!-- *************  MOSTRAR LAS IMÃGENES  ************* -->
	<%= render partial: 'static_pages/carga_header' %>

	<!-- *************  MOSTRAR LOS ITEMS  ************* -->
	<%= render partial: 'static_pages/carga_items', locals: {post: @post} %>

</div>
