<% provide(:title, "Ubicación |") %>

<script type="text/javascript">
    loadScript();
</script>

<div class="container-fluid div-paginas">

	<!-- *************  MOSTRAR LAS IMÁGENES  ************* -->
	<%= render partial: 'static_pages/carga_header' %>

	<!-- *************  MOSTRAR LOS ITEMS  ************* -->
	<%= render partial: 'static_pages/carga_items', locals: {post: @post} %>

</div>
