          <div class="blog-div-cta col-xs-12">
            <div class="blog-div-foto">
              <%= image_tag("relax-900x550.jpg", class: "img-responsive post-img") %>
            </div>
            <h3>Publique sus Productos en Internet!<br/> Ahora es fácil!</h3><br/><br/>
            <div class="centered">
	            <%= link_to '¡Averigüe Como!', new_contact_path(:motivo => "CTA Vtas - " + @post.pos_titulo), remote: true, class: "btn btn-danger blog-bot-cta" %><br/><br/>
            </div>
          </div>
