<div class="section-heading animated fadeInDown sin-marg-bot">
	<h1><%== @post.pos_titulo %></h1>
	<% if @post.pos_subtitulo != "" && @post.pos_subtitulo != nil %>
		<h2><%== @post.pos_subtitulo %></h2>
	<% end %>
    <div class="divider"></div>
	<h4><%== @post.pos_intro %></h4>
</div>
