      <div class="blog-div-title col-xs-12 col-sm-10 col-sm-offset-1">
        <h1>
          <%== @post.pos_titulo %>
        </h1>
        <h4>
          <%== @post.pos_intro %><br/><br/>
        </h4>
        <div class="blog-div-foto-lg">
          <% if ENV["herokuapp"] == "NO" %>
            <%= image_tag(@post.imagen_big.url, class: "img-responsive") %>
          <% else %>
            <%= image_tag(@post.imagen_big_file_name, class: "img-responsive") %>
          <% end %>
        </div>
      </div>
