<div class="blog-div-title">
	<h3>
	  <u>Comentario</u>: <%= @post_comment_answer.post_comment.pco_texto %>
	</h3>

	<%= render 'form' %>
</div>

<!--
<%= link_to 'Back', post_comment_answers_path %>
-->