<!DOCTYPE html>
<html lang="en">
<head>
  <meta content="text/html, charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>

	<h3> Ha ingresado un nuevo contacto con los siguientes datos: </h3>


	<p>	<u>Nombre</u>: <%= @contact.con_nya %>.</p>
	<p>	<u>Mail</u>: <%= @contact.con_mail %>.</p>
	<p>	<u>Mensaje o Consulta</u>: <%= @contact.con_obs %>.</p>

</body>
</html>


